* {
	padding: 0;
	margin: 0;	
}
body {
	font-family: Roboto,sans-serif;
	background-color: #f3f7fb;	
}
.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 65px 0px 85px;		
}
.wrapper > a {	
	text-decoration: none;
}
#selections {
	background: #2f455c url("../images/background.jpg") no-repeat center top;
	background-size: cover;
}
h1 {
	color: #fff;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 16px;
}
#logos {
	display: block;
	padding-bottom: 30px;
	margin: 14px auto 40px;
	max-width: 100%;
	border-bottom: 1px dotted #555;
}
form {
	text-align: center;		
}
#filters {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}
#selections #filters > div {
	display: inline-block;
	margin: 0 10px 16px 10px;	
	text-align: left;
}
input[type="submit"]{
	padding: 10px 90px;
	margin-top: 25px;
	border-radius: 5px; 
	background: #26c139;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;	
	border: 0;
}
input[type="submit"]:hover{	 
	background: #1a9b29;
	transition: all 0.2s ease;
}
#filters > div > label{
	display: block;
	color: #fff;
	padding-bottom: 8px;
}
select{
	padding: 8px;
	min-width: 215px;
	cursor: pointer;
}
#outages{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.event {
	width: 26%;
	display: inline-block;
	background-color: #fff;
	padding: 30px 35px;
	margin: 0.4rem;
	font-size: 0.9em;
	color: #777;
	border: 1px solid #eeeeee;
}
.event .details, .event .approvals {
	display: flex;
	line-height: 1.5;
}
.event .col{
	width: 50%;
	padding: 10px 0;
	vertical-align: bottom;
}
.event .col div:first-child { 
	padding: 7px 0;
}
.event .col div {
	padding: 2px 0;
}
.event .col .stage {
	font-size: .8em;
	position: inherit;
}
.event .col:first-child span { 
	position: relative;
	bottom: 6px;
	left: 5px;
}
.event .col:nth-child(2) span { 
	position: relative;
	bottom: 3px;
	left: 5px;
}
.event .col p {
	display: inline-block;
}
.event .approvals, .event .content { border-top: 1px solid #eee; }
.event .content p {
	margin: 12px 0;
	font-style: italic;
}
a.morelink {
	text-decoration:none;
	outline: none;
	font-style: normal;
}
a.morelink:hover {
	text-decoration: underline;
}
.morecontent span {
	display: none;

}
@media (max-width: 1000px){
	h1 {
		font-size: 2.1rem;
	}
	.event {
		width: 80%;
		margin: 0.4rem auto;
	}
	#outages {
		flex-direction: column;
	}	
}